{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About...</h1>
            <p class="lead fw-normal text-white-50 mb-0">This tells about the ABOUT page</p>
        </div>
    </div>
</header>

<div class="container">
  <div class ="row">
    <center>
        <div class ="col-8">
            <br/><br/>

            <p align = "justify">
                Focusing on Telangana, India, the system highlights key attractions such as Charminar, Golconda Fort, and Hyderabad’s diverse culinary offerings, including Hyderabadi Biryani and Double ka Meetha. 
                The guide plans the trip from the user's location to tourist destinations, displaying distances between key points of interest where available.
                The final output is a visually interactive map that allows users to navigate Hyderabad’s attractions with ease. 
                By combining geospatial data processing, real-world routing algorithms, and user-friendly visualization, this project serves as a smart tourism planning tool.


            </p>
            <br/><br/>
        </div>
    </center>
</div>
{% endblock %}